@font-face {
  font-family: 'Maplestory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Maplestory";
  overflow-x: hidden;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
input {
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  padding : 10px 20px;
  font-size : 20px;
  text-align: center;
  max-width: 170px;
}
button {
  font-family: "Maplestory";
  width: 100px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover {
  background-color: #333;
  color: #FFF;
}

/* HEADER */
header {
  background-color: #0B6138;
}
.title__image {
  height: 50vh;
}
.title__image h1 {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  color: whitesmoke;
  text-shadow: #0B6138 0px 15px 100px;
  top: 20%;
  z-index: 9;
  line-height: 1.1;
}
.title__image img {
  -webkit-filter: grayscale(100%);
  filter: gray;
  position: absolute;
}
.title__image img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}
.title__image img:nth-of-type(1) {
  left: 50px;
  top: 30px;
  opacity: 0.7;
}
.title__image img:nth-of-type(2) {
  width: 400px;
  left: 400px;
  bottom: -58px;
  z-index: 1;
}
.title__image img:nth-of-type(3) {
  width:400px;
  bottom: 0;
}
.title__image img:nth-of-type(4) {
  width: 250px;
  left: -60px;
  bottom: 0;
}
.title__image img:nth-of-type(5) {
  width: 350px;
  right: 70px;
  bottom: 0;
}

/* CHECK__SALARY */
.check__salary {
  margin-top: 150px;
  padding: 0 15px;
  justify-content: center;
  height: 1000px;
}
.check__salary p {
  text-align: center;
  font-size: 20px;
}
.check__box {
  position: relative;
  width: 800px;
  height: 650px;
  left: 50%;
  transform: translate(-50%, 20%);
  border: 12px solid #333;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #eee;
}
.check__box .contWrap {
  position: relative;
  width: 730px;
  padding : 10px 20px;
  left: 50%;
  transform: translate(-50%,10%);
  text-align: center;
  margin-bottom: 10px;
}
.promotion .swiper-container {
  width: 720px;
  overflow-y: hidden;
}
.promotion .swiper-wrapper img {
  width: 230px;
  height: 240px;
  margin: 30px 0;
  border: solid 2px #333;
}
.promotion .swiper-slide {
  opacity: .4;
  transition: opacity .7s;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-pagination {
  bottom: -18px;
  left: 0;
  right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: #333;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-prev,
.promotion .swiper-next {
  width: 64px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 10%;
  position: absolute;
  z-index: 3;
  top: 330px;
  cursor: pointer;
  outline: none;
  transition: .4s;
}
.promotion .swiper-prev {
  left: 40%;
  margin-left: -120px;
}
.promotion .swiper-next {
  right: 40%;
  margin-right: -120px;
}
.contWrap .startBtn {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* HIDE */
.main__salary {
  background-color: whitesmoke;
}
.main__salary .inner {
  padding-bottom: 80px;
}
.main__salary .star__name {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 1rem 0;
  text-decoration: underline #f5c81a 9px;
}
.main__salary .star__salary {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  
}
.main__salary .star__salary p {
  display: inline-block;
  font-size: 2rem;
  color: #0B6138;
}
.main__salary .star__vs {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline #f5c81a 9px;
  margin-bottom: 5rem;
}
.vscontents {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
}
.vscontents .vscontents__wrap {
  width: 35%;
  margin: 0 20px;
} 
.vscontents .vscontents__wrap .vscontents__calc {
  background-color: #0B6138;
  padding: 30px 30px;
  border-radius: 25px;
  color: whitesmoke;
}
.vscontents .vscontents__wrap .vscontents__calc .yellow {
  color: #f5c81a;
}
.vscontents .vscontents__wrap .vscontents__calc ul {
  font-size: 1.2rem;
  padding: 20px 20px;
}
.vscontents .vscontents__wrap .vscontents__calc li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.vscontents .vscontents__wrap .vscontents__calc .baseline {
  border-bottom: solid 3px whitesmoke;
  padding-bottom: 20px;
}
.vscontents .vscontents__wrap .vscontents__calc .calc__second p {
  font-size: 1.2rem;
}
.vscontents .vscontents__wrap .vscontents__calc .calc__second .secondMoney {
  font-size: 2rem;
}


/* FOOTER */
footer {
  background-color: #272727;
  border-top: 3px dashed #0B6138;
}
footer .inner {
  padding: 10px 0 20px 0;
}
footer .info {
  margin-top: 10px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}